* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_box {
  margin: 2rem auto;
  width: 85%;
  /* border: 2px solid black; */
  display: flex;
  flex-flow: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.column1 {
  width: 30%;
  min-width: 200px;
  /* border: 2px solid black; */
}
.checkbox {
  margin: 2rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.check {
  width: 15px;
  height: 15px;
}
.row2 {
  margin: 1rem 0rem;
}
.locaHead {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(159, 158, 158);
}
.locaHead input {
  width: 95%;
  background-color: white;
  border: none;
  border-radius: 4px;
  margin: 1rem 0rem;
  padding: 1rem;
  font-size: 1.05rem;
  box-shadow: 1px 1px 1px 1px rgb(209, 203, 203);
}
.radio {
  margin: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.column2 {
  width: 65%;
}
@media (max-width: 785px) {
  .column1 {
    width: 90%;
  }
}
