.list {
  border: 2px solid black;
  padding: 0.5rem;
  /* background-color:white; */
}
ul {
  list-style: none;
}
.MealsError {
  text-align: center;
  color: rgb(236, 60, 60);
  font-size: 1.5rem;
}
.column2 {
  width: 70%;
  min-width: 300px;
}
.main_box {
  margin: 2rem auto;
  width: 85%;
  /* border: 2px solid black; */
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.link {
  text-decoration: none;
  color: black;
}
@media (max-width: 785px) {
  .column2 {
    width: 100%;
  }
}
